@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


/* .roboto{
     font-family: "Roboto", sans-serif;

} */

@theme{
    --font-display: "Roboto", sans-serif;
}

.list-class li{
    position: relative;
   
    



}

body{
    overflow-x: hidden;
}

.title{
    background-image: linear-gradient(#456, #567);
    
    color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: -750px 0px;
    animation-name: mashrur;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card-animation{
   transform: translateX(-105%);
   animation: name duration timing-function delay iteration-count direction fill-mode;
   animation-name: mashrur23;
   animation-duration: 2s;
   animation-timing-function: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;


}

@keyframes mashrur23 {
    0%{
        transform: translateX(-105%);
        

    }
    100%{
        transform: translateX(50%);
       
    }
}


@keyframes mashrur {
   0%{
    background-position: -750px 0px;

   }
   100%{
    
    background-position: 0%;

   } 
}

/* .title-2{
    
    text-align: center;
   
    color: white;
    
    background-repeat: no-repeat;
   
    background-image: linear-gradient(#444,#456);
   
    
} */

.list-class li::before{
    position:absolute;
    content:'';
    width:0%;
    height:0px;
    background-color:#2196F3;
    left:0;
    bottom:0;
     transition: all 2s ease-in-out;
}


.list-class li:hover::before{
    width:100%;
    height:3px;
    background-color:#2196F3;

}
.buisness div{
    position: relative;

}

.buisness div::before{
    position: absolute;
    content: '';
    width:0%;
    height:0px;
    /* border: 2px solid #2196F3 ; */
    background-color: #2196F3;
    border-radius: 3px;
    bottom: -50px;
    left:0;
    transition: all 0.5s ease-in-out;
}

.dotline{
    position: relative;
    cursor: pointer;
}

.dotline::before{
    position: absolute;
    content: '';
    width: 20%;
    height: 7px;
    border: 3px;
    background-color: #2196F3;
    border-radius: 3px;
    bottom: 50px;
    left: 30px;
    transition: all 0.5s ease-in-out;
}


@media screen and (max-width:600px) {
    .dotline::before{
         position: absolute;
         content: '';
         width: 0%;
         height: 7px;
         border: 3px;
         background-color: #2196F3;
         border-radius: 3px;
         bottom: -160px;
         left: 0px;
         transition: all 0.5s ease-in-out;
        

    }
     .dotline:hover::before{
       width: 0%;
       height: 0px;
}

 .dotline{
    box-shadow: 0px 3px 30px gray;
    border-radius: 20px;
    padding: 20px;
    margin: 3px;
  
    
    
}

.service_banner{
    background-image: url(./pic/Group\ 29.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
}
.buisness div:hover::before{
    width: 0%;
    height: 5px;
}
/* .client-testomonial{
    display: none;
} */


    
}
/* media query ends */

.dotline:hover::before{
    width: 50%;
}
.buisness div:hover::before{
    width: 100%;
    height: 5px;
}

.service_banner{
    background-image: url(./pic/Group\ 29.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}




.client-testomonial{
    /* background-image: url(./pic/Group\ 30.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 500px;
    background-position: center; */
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(./pic/client-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 600px;
    background-position: center;
    border-radius: 20px;
    
}


